{% extends "email_templates/base.html" %} 
{% block body %}
<div class="content">

  <!-- START CENTERED WHITE CONTAINER -->
  <span class="preheader">Thank You for making the payment.</span>
  <table class="main">

    <!-- START MAIN CONTENT AREA -->
    <tr>
      <td class="wrapper">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p><b>Hi {{user.first_name}} {{user.last_name}},</b></p>
              <hr color="#25b99a" size="4">
              <p>Thank You for making the payment. Your transaction amount is <b>Rs {{fee.amount}}</b>. You have paid the amount using{% if fee.mode == 'cheque' %} Check No:{{fee.cheque_no}}{%else%} Cash{% endif %}.</p>
              <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                <tbody>
                  <tr>
                    <td align="center">
                     <div style="color: green">Successfull</div>
                     <!-- <br>
                     <div style="color: red">'Failed'</div> -->
                   </td>
                 </tr>
               </tbody>
             </table>
             <p>Fee Category: {{fee.feecategory.name}}.</p>
             <!-- <hr>
             <p>Good luck! Hope it works.</p>-->
             <hr color="#25b99a" size="3">
           </td>
         </tr>
       </table>
     </td>
   </tr>

   <!-- END MAIN CONTENT AREA -->
 </table>

 <!-- START FOOTER -->
 <div class="footer">
  <table border="0" cellpadding="0" cellspacing="0">
    <!-- <tr>
      <td class="content-block">
        <span class="apple-link">Company Inc, 3 Abbey Road, San Francisco CA 94102</span>
        <br> Don't like these emails? <a href="#">Unsubscribe</a>.
      </td>
    </tr> -->
    <tr>
      <td class="content-block powered-by">
        Powered by <a href="http://donams.com">Do-NAM's Innovations</a>.
      </td>
    </tr>
  </table>
</div>
<!-- END FOOTER -->
{% endblock %}